{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="allproducts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3 class="subtitle">Watches</h3>
            </div>
            {% for product in all_products.all %}
                {% if product.category == 'Watches' %}
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="cat-box">
                        <img class="img-fluid" src="{{ product.image.url }}">
                        <h2>{{ product.title }}</h2>
                        <h5>{{ product.summary }}</h5>
                        <p>MRP: <b>₹{{ product.price }}</b></p>
                        <h6>Offer Price: <b>₹{{ product.offer_price }}</b></h6>
                        <span>Get {{ product.offer }}% off</span>
                        <a href="{% url 'cart' product.id %}">Add to cart</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3 class="subtitle">Shoes</h3>
            </div>
            {% for product in all_products.all %}
                {% if product.category == 'Shoes' %}
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="cat-box">
                        <img class="img-fluid" src="{{ product.image.url }}">
                        <h2>{{ product.title }}</h2>
                        <h5>{{ product.summary }}</h5>
                        <p>MRP: <b>₹{{ product.price }}</b></p>
                        <h6>Offer Price: <b>₹{{ product.offer_price }}</b></h6>
                        <span>Get {{ product.offer }}% off</span>
                        <a href="{% url 'cart' product.id %}">Add to cart</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3 class="subtitle">Sun Glasses</h3>
            </div>
            {% for product in all_products.all %}
                {% if product.category == 'Sun Glasses' %}
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="cat-box">
                        <img class="img-fluid" src="{{ product.image.url }}">
                        <h2>{{ product.title }}</h2>
                        <h5>{{ product.summary }}</h5>
                        <p>MRP: <b>₹{{ product.price }}</b></p>
                        <h6>Offer Price: <b>₹{{ product.offer_price }}</b></h6>
                        <span>Get {{ product.offer }}% off</span>
                        <a href="{% url 'cart' product.id %}">Add to cart</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3 class="subtitle">Bags</h3>
            </div>
            {% for product in all_products.all %}
                {% if product.category == 'Bags' %}
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="cat-box">
                        <img class="img-fluid" src="{{ product.image.url }}">
                        <h2>{{ product.title }}</h2>
                        <h5>{{ product.summary }}</h5>
                        <p>MRP: <b>₹{{ product.price }}</b></p>
                        <h6>Offer Price: <b>₹{{ product.offer_price }}</b></h6>
                        <span>Get {{ product.offer }}% off</span>
                        <a href="{% url 'cart' product.id %}">Add to cart</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}